body
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  top: 0;
  overflow-x: hidden
  #app
    min-height: 100%;
    position: relative;


// 从@vuepress/theme-default 中copy过来改下样式
.theme-container
  position: relative;
  &.no-navbar
    {$contentClass}:not(.custom) > *:first-child
      margin-top: auto;
    {$contentClass}:not(.custom) > h1, h2, h3, h4, h5, h6
      margin-top: 1.875rem;
      font-weight: 500;
      color: #000;
    .page
      padding-left: 0;
      min-height: 400px;
  .theme-default-content
    padding-top: 0;
    >p:first-of-type 
      margin: 0;



{$contentClass} code
    color: #2A2A2A;
{$contentClass} a code
    color: $accentColor;
h2
  border-bottom: 0;
  position: relative;
  font-size: 1.5rem;
  padding: 12px 19px 11px 19px!important;
  border-left: 4px solid rgba(1, 115, 235, .4);
  background: #f6f7f9;

a
  font-weight: 400;
ul, ol
  line-height: 1.5rem;
ul li
  margin-bottom: 10px;
strong
  color: #000;
div[class*="language-"]
  border-radius: 10px;
thead tr,
tr:nth-child(2n)
  background: #f6f7f9;
.icon.outbound,
.header-anchor,
footer.page-edit
  display: none;
thead
  white-space nowrap
